<md-content flex class="md-padding">
    <form name="tratForm" ng-submit="ctrl.submitTrat()">
        <!--Remember to correct the the logic when done-->
        <div ng-show="ctrl.question" flex layout='row' layout-align='start stretch'>
            <div flex-offset='2' flex='66' name='question_box'>
                <h1 class='md-title'>Question {{ctrl.index + 1}} </h1>
                <md-divider></md-divider>
                <!------------------starting of questions--------------------------------------------->

                <div align="start" layout="column">
                    <!--<md-divider></md-divider>-->
                    <label><h4>{{ctrl.question.text}}</h4></label>
                </div>


                <!------------------starting of questions--------------------------------------------->
                <div ng-show="!ctrl.multipleAns[$index]">
                    <md-radio-group ng-required="true" ng-model="question.answers">
                        <div layout="column" ng-repeat="option in ctrl.options">
                            <div layout="row">
                                <div flex="80">
                                    <label>{{$index + 1}}) {{option.text}}</label>
                                </div>
                                <div flex="20">
                                    <md-radio-button aria-label="{{option.text}}" value={{$index}}></md-radio-button>
                                </div>
                            </div>
                            <md-divider layout-padding ng-if="!$last"></md-divider>
                        </div>
                    </md-radio-group>
                </div>

                <!------------------log box--------------------------------------------->
                <div flex='33' name='team_log' layout='column' class="md-whiteframe-3dp">
                    <md-tool-bar layout='row' class="md-hue-1">
                        <div class='md-toolbar-tools'>
                            <span>Team Log</span>
                        </div>
                    </md-tool-bar>
                    <md-content>
                        <md-subheader class='md-no-sticky'>Last activity at: {{time}}</md-subheader>
                        <md-list class='md-dense' flex>
                            <md-list-item>

                            </md-list-item>
                        </md-list>
                    </md-content>

                </div>
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="ctrl.nextQuestion()">Next</md-button>
        </div>
    </form>
</md-content>