<md-content flex class="md-padding">
  <div layout="column" layout-align="center stretch">
    <form name="createTeamActivity" submit="ctrl.submit()">
      <label>Select Activity Type</label>
      <div flex layout="column" layout-align="center stretch">
        
        <!--Radio group for Activity Types-->
        <div>
          <md-input-container>
            <md-radio-group ng-model='ctrl.activityType' ng-required="true">
              {{ctrl.activityType}}
              <md-radio-button value="gameShow">Game Show (IRAT,TRAT)</md-radio-button>
              <md-radio-button value="indexCards">Index Cards</md-radio-button>
              <md-radio-button value="collabSubmission">Collaborative Submission</md-radio-button>
            </md-radio-group>
          </md-input-container>
        </div>
      </div>
      <md-divider layout-padding ng-if="!$last"></md-divider>
      <div flex layout="column" layout-align="center stretch">
        {{ctrl.isNewTeams}}
        <div>
          <md-input-container>
            <md-checkbox ng-model='ctrl.isNewTeams' checked>Set New Teams</md-checkbox>
          </md-input-container>
        </div>
        <!--if "set new teams" is checked-->
        <div flex layout="column" layout-align="center stretch" ng-show="ctrl.isNewTeams">
          {{ctrl.teamFormationMethod}}
          <label>Select your team formation method</label>
          <md-input-container>
            <md-select ng-model="ctrl.teamFormationMethod">
              <md-option value="teamSize" selected>By Team Size</md-option>
              <md-option value="noOfTeams">By Number Of Teams</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div flex>
          <md-input-container ng-show="ctrl.isNewTeams" ng-required="true">
            <label for='edit-teamFormationInput_${{index}}'>{{ctrl.teamFormationMethod === "teamSize" ? "Enter Team Size" : "Enter Number of Teams"}}</label>
            <input ng-model="ctrl.teamFormationParameter"
              name="teamFormationInput"
              id='edit-teamFormationInput_${{index}}' 
              >
          </md-input-container>
        </div>
        <!--if "set new teams" is unchecked-->
        <div ng-hide="ctrl.isNewTeams" flex layout="column" layout-align="center stretch">
          {{ctrl.teams}}
          <label>Assign teams from previous team challenges</label>
          <md-input-container ng-disabled="ctrl.teams">
            <label ng-show="ctrl.teams">Assign teams from previous team challenges</label>
            <label ng-hide="ctrl.teams || ctrl.teams.length == 0">No team challenges available</label>
            <md-select ng-model="ctrl.selectedTeam" ng-disabled="!ctrl.teams || ctrl.teams.length == 0">
              <md-option ng-repeat="team in ctrl.teams" ng-value="team.name"></md-option>
            </md-select>
          </md-input-container>
        </div>
        <div flex layout="column" layout-align="center stretch" ng-show="ctrl.activityType == 'gameShow'">
          {{ctrl.selectedMCQ}}
          <label>Select existing or create new multiple choice question</label>
          <md-input-container>
            <md-select ng-model="ctrl.selectedMCQ">
              <md-option ng-value="createMCQ" selected>Create new MCQ</md-option>
              <md-option ng-repeat="m in mcqs" ng-value="$index"></md-option>
            </md-select>
          </md-input-container>
        </div>
        <div>
          <md-button class="md-raised md-primary" type="submit" ng-disabled="createTeamActivity.$invalid">CREATE</md-button>
        </div>
      </div>
    </form>
  </div>
</md-content>