<md-content flex class="md-padding" layout="row">
    <div class="profile" flex="33">
        <div class="avatar" md-whiteframe="1">
            <img ng-src="{{ctrl.profile.user.gravatar}}?s=200&amp;r=g&amp;d=mm" alt="user avatar">
            <h2>
                {{ctrl.profile.user.displayName}}
            </h2>
            <h3 ng-if="ctrl.profile.user.school" layout="row" layout-align="center center">
                <span flex="33"><img ng-src="{{ctrl.profile.user.school.iconUrl}}" alt="user school crest"></span>
                <span flex="66">{{ctrl.profile.user.school.name}}</span>
            </h3>
        </div>
    </div>

    <div flex="66">

        <clm-service-card service-id="freeCodeCamp" public-id="ctrl.profile.$id" disable-refresh="ctrl.refreshTimeout"
                profile-template="https://www.freecodecamp.com/{{name}}"
        >
            <clm-description>
                <a href="https://www.freecodecamp.com" target="_blank">FreeCodeCamp</a>
                is an open source community of busy people who learn to code and help nonprofits.
            </clm-description>
        </clm-service-card>

        <clm-service-card service-id="pivotalExpert" public-id="ctrl.profile.$id" disable-refresh="ctrl.refreshTimeout"
          profile-template="https://pivotal-expert.firebaseapp.com/#/profile/{{name}}"
        >
            <clm-description>
                <a href="https://pivotal-expert.firebaseapp.com" target="_blank">Pivotal Expert</a>
                helps you to learn just enough programming to make yourself a more productive professional.
            </clm-description>
        </clm-service-card>

        <clm-service-card service-id="codeCombat" public-id="ctrl.profile.$id" disable-refresh="ctrl.refreshTimeout"
          profile-template="https://codecombat.com/user/{{name}}"
        >
            <!--<div ng-if="{{name}}">Invalid name</div>-->
            <clm-description>
                <a href="http://codecombat.com/" target="_blank">Code Combat</a>,
                learn to Code JavaScript by Playing a Game.
            </clm-description>

        </clm-service-card>

    </div>

</md-content>

