<md-content flex class="md-padding">

    <div ng-if="!ctrl.profile || ctrl.profileNeedsUpdate">
        <h1>Profile Setup</h1>

        <form name="publicIdForm" ng-submit="ctrl.setPublicId(ctrl.currentUser)">
            <spf-sign-form current-user="ctrl.currentUser"></spf-sign-form>

            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="publicIdForm.$invalid || ctrl.settingPublicId">
                    Save
                </md-button>
                <md-button class="md-accent" ng-click="ctrl.goBack()">
                    Back
                </md-button>
            </div>

        </form>
    </div>

    <div ng-if="ctrl.profile && !ctrl.profileNeedsUpdate" layout="row" layout-wrap>
        <div class="profile" flex="33" flex-sm="100">
            <div class="md-whiteframe-z1 avatar">
                <img ng-src="{{ctrl.profile.user.gravatar}}?s=200&amp;r=g&amp;d=mm" alt="user avatar">
                <h2>
                    {{ctrl.profile.user.displayName}}
                </h2>
                <h3 ng-if="ctrl.profile.user.school &amp;&amp; ctrl.profile.user.school.type != 'Other'" layout="row" layout-wrap layout-align="center center">
                    <span flex-gt-md="33" flex="100" ng-if="ctrl.profile.user.school.iconUrl">
                        <img ng-src="{{ctrl.profile.user.school.iconUrl}}" alt="user school crest">
                    </span>
                    <span flex-gt-md="66" flex="100">{{ctrl.profile.user.school.name}}</span>
                </h3>
            </div>
        </div>

        <div flex="66" flex-sm="100">

            <clm-service-card service-id="freeCodeCamp" public-id="ctrl.profile.$id" disable-refresh="ctrl.refreshTimeout"
                profile-template="https://www.freecodecamp.com/{{name}}"
            >
                <clm-description>
                    <a href="https://www.freecodecamp.com" target="_blank">FreeCodeCamp</a>
                    is an open source community of busy people who learn to code and help nonprofits.
                </clm-description>
            </clm-service-card>

            <clm-service-card service-id="pivotalExpert" public-id="ctrl.profile.$id" disable-refresh="ctrl.refreshTimeout"
                profile-template="https://pivotal-expert.firebaseapp.com/#/profile/{{name}}"
            >
                <clm-description>
                   <a href="https://pivotal-expert.firebaseapp.com" target="_blank">Pivotal Expert</a>
                   helps you to learn just enough programming to make yourself a more productive professional.
                </clm-description>
            </clm-service-card>

            <clm-service-card service-id="codeCombat" public-id="ctrl.profile.$id" disable-refresh="ctrl.refreshTimeout"
                profile-template="https://codecombat.com/user/{{name}}"
            >
                <clm-description>
                    <a href="http://codecombat.com/" target="_blank">Code Combat</a>,
                    learn to Code JavaScript by Playing a Game.
                </clm-description>
            </clm-service-card>

        </div>
    </div>

</md-content>

