<md-content flex class="md-padding">

    <div ng-if="!ctrl.profile || ctrl.profileNeedsUpdate">
        <h1>Profile Setup</h1>

        <form name="publicIdForm" ng-submit="ctrl.setPublicId(ctrl.currentUser)">
            <spf-sign-form current-user="ctrl.currentUser"></spf-sign-form>

            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="publicIdForm.$invalid || ctrl.settingPublicId">
                    Save
                </md-button>
            </div>

        </form>
    </div>

    <div ng-if="ctrl.profile &amp;&amp; !ctrl.profileNeedsUpdate" layout="row" layout-wrap>
        <div class="profile" flex="33" flex-sm="100">
            <div class="md-whiteframe-z1 avatar">
                <img ng-src="{{ctrl.profile.user.gravatar}}?s=200&amp;r=g&amp;d=mm" alt="user avatar">
                <h2>
                    {{ctrl.profile.user.displayName}}
                </h2>
                <h3 ng-if="ctrl.profile.user.school &amp;&amp; ctrl.profile.user.school.type != 'Other'" layout="row" layout-wrap layout-align="center center">
                    <span flex-gt-md="33" flex="100" ng-if="ctrl.profile.user.school.iconUrl">
                        <img ng-src="{{ctrl.profile.user.school.iconUrl}}" alt="user school crest">
                    </span>
                    <span flex-gt-md="67" flex="100">{{ctrl.profile.user.school.name}}</span>
                </h3>
            </div>
        </div>

        <div flex="67" flex-sm="100">

            <!-- Commenting out SingPath profile card
                <div clm-spf-profile="ctrl.profile.$id"></div>

             
            <div clm-profile="ctrl.profile" clm-service-id="codeCombat" clm-current-user="ctrl.currentUserProfile"></div>
            <div clm-profile="ctrl.profile" clm-service-id="codeSchool" clm-current-user="ctrl.currentUserProfile"></div>
            <div clm-profile="ctrl.profile" clm-service-id="treeHouse" clm-current-user="ctrl.currentUserProfile"></div>
             -->
            <button type="submit" ng-click="ctrl.refreshAchievements(ctrl.profile.$id)">Refresh Achievements</button>
            <div id="register-freecodecamp" class="register-service md-whiteframe-z1">
                <h2>FreeCodeCamp</h2>

                <div ng-hide="ctrl.profile.services.freeCodeCamp.details.id">
                  <p>
                    <a href="https://www.freecodecamp.com" target="_blank">
                        FreeCodeCamp
                    </a> is an open source community of busy people who learn to code and help nonprofits.
                  </p>  
                  <form ng-submit="ctrl.updateFreeCodeCampUsername(ctrl.newFreeCodeCampUsername)">
                    Enter your FreeCodeCamp username.<br>
                    https://www.freecodecamp.com/<input ng-model="ctrl.newFreeCodeCampUsername" />
                    <button type="submit">Save</button>
                  </form>
                </div>
                <div ng-show="ctrl.profile.services.freeCodeCamp.details.id">
                  {{ctrl.profile.services.freeCodeCamp.totalAchievements}} achievements<br>
                  Registered as <a href="https://www.freecodecamp.com/{{ctrl.profile.services.freeCodeCamp.details.id}}">{{ctrl.profile.services.freeCodeCamp.details.id}}</a> on Free Code Camp.
                  <button type="submit" ng-click="ctrl.removeFreeCodeCamp()">Remove</button>
                </div>
            </div>
            
            <div id="register-pivotalexpert" class="register-service md-whiteframe-z1">
                <h2>Pivotal Expert</h2>
                
                <div ng-hide="ctrl.profile.services.pivotalExpert.details.id">
                    <p>
                     <a href="https://pivotal-expert.firebaseapp.com" target="_blank">
                        Pivotal Expert
                     </a> helps you to learn just enough programming to make yourself a more productive professional.
                   </p>
                    <form ng-submit="ctrl.updatePivotalExpertUsername(ctrl.newPivotalExpertUsername)">
                        Enter your Pivotal Expert username.<br>
                        https://pivotal-expert.firebaseapp.com/#/profile/<input ng-model="ctrl.newPivotalExpertUsername" />
                        <button type="submit">Save</button>
                    </form>
                </div>
                <div ng-show="ctrl.profile.services.pivotalExpert.details.id">
                  {{ctrl.profile.services.pivotalExpert.totalAchievements}}  achievements<br>
                  Registered as <a href="https://pivotal-expert.firebaseapp.com/#/profile/{{ctrl.profile.services.pivotalExpert.details.id}}">{{ctrl.profile.services.pivotalExpert.details.id}}</a> on Pivotal Expert.
                    <button type="submit" ng-click="ctrl.removePivotalExpert()">Remove</button>
                </div>
            </div>
           
            <div id="register-codecombat" class="register-service md-whiteframe-z1">
                <h2>Code Combat</h2>

                <div ng-hide="ctrl.profile.services.codeCombat.details.id">  
                    <p>
                        <a href="http://codecombat.com/" target="_blank">Code Combat</a>,
                        learn to Code JavaScript by Playing a Game.
                    </p>
                    <form ng-submit="ctrl.updateCodeCombatUsername(ctrl.newCodeCombatUsername)">
                            Enter your Code Combat username.<br>
                            https://codecombat.com/user/<input ng-model="ctrl.newCodeCombatUsername" />
                            <button type="submit">Save</button>
                    </form>
                </div>   
                <div ng-show="ctrl.profile.services.codeCombat.details.id">
                   {{ctrl.profile.services.codeCombat.totalAchievements}}  achievements<br>
                   Registered as <a href="https://codecombat.com/user/{{ctrl.profile.services.codeCombat.details.id}}">{{ctrl.profile.services.codeCombat.details.id}}</a> on Code Combat.
                    <button type="submit" ng-click="ctrl.removeCodeCombat()">Remove</button>
                </div>
            </div>
           
            <div id="register-codeschool" class="register-service md-whiteframe-z1">
                <h2>Code School</h2>

                <div ng-hide="ctrl.profile.services.codeSchool.details.id">  
                    <p>
                    <a href="https://www.codeschool.com/" target="_blank">Code School</a>
                        teaches web technologies in the comfort of your browser with video lessons,
                        coding challenges, and screencasts. Registering is free, and the provides
                        free content to try out.
                    </p>
                    <form ng-submit="ctrl.updateCodeSchoolUsername(ctrl.newCodeSchoolUsername)">
                            Enter your Code School username.<br>
                            https://www.codeschool.com/users/<input ng-model="ctrl.newCodeSchoolUsername" />
                            <button type="submit">Save</button>
                    </form>
                </div>   
                <div ng-show="ctrl.profile.services.codeSchool.details.id">
                    <div ng-show="ctrl.profile.services.codeSchool.totalAchievements<0">
                        <font color="red">{{ctrl.profile.services.codeSchool.details.id}} does not have a public profile on Code School.</font>
                    </div>
                    
                    {{ctrl.profile.services.codeSchool.totalAchievements}}  achievements<br>
                   Registered as <a href="https://www.codeschool.com/users/{{ctrl.profile.services.codeSchool.details.id}}">{{ctrl.profile.services.codeSchool.details.id}}</a> on Code School.
                    <button type="submit" ng-click="ctrl.removeCodeSchool()">Remove</button>
                </div>
            </div>
           
        </div>
    </div>

</md-content>

