<md-content flex class="md-padding">
    <form name="surveyForm" ng-submit="">
        <div>
            <h1>Preview: School Engagement Scale</h1>
        </div>
        <div>
            <h3>Please respond to the questions below using the following scale</h3>
        </div>
        <md-button type="button" class="md-raised md-primary" ng-click="ctrl.back()">Back</md-button>
        <br>
        <hr style="background: #808080; border: 0; height: 3px"/>
        <md-input container flex>
            <table ng-repeat="(key, value) in ctrl.questions[2]" width="100%">
                <tr ng-if="key == 1">
                    <td>
                        <h3>Behavioural Engagement</h3>
                    </td>
                </tr>
                <tr ng-if="key == 5">
                    <td>
                        <h3>Emotional Engagement</h3>
                    </td>
                </tr>
                <tr ng-if="key == 11">
                    <td>
                        <h3>Cognitive Engagement</h3>
                    </td>
                </tr>
                <tr ng-class="'index-' + $index + ' ' + ($odd ? 'odd' : 'even')">
                    <td ng-if="key != '0'" style="width: 600px">
                        {{key}}. {{value}}
                    </td>
                    <td ng-if="key != '0'">
                        <md-radio-group layout="row" ng-model="$parent.ans" required>
                            <md-radio-button style="margin-right:20px" class="md-primary" ng-value="1">Never
                            </md-radio-button>
                            <md-radio-button style="margin-right:20px" class="md-primary" ng-value="2">On Occasion
                            </md-radio-button>
                            <md-radio-button style="margin-right:20px" class="md-primary" ng-value="3">Some of the
                                Time
                            </md-radio-button>
                            <md-radio-button style="margin-right:20px" class="md-primary" ng-value="4">Most of the
                                Time
                            </md-radio-button>
                            <md-radio-button style="margin-right:20px" class="md-primary" ng-value="5">All of the Time
                            </md-radio-button>
                        </md-radio-group>
                    </td>
                </tr>
            </table>
            <md-button type="button" class="md-raised md-primary" ng-click="ctrl.back()">Back</md-button>
            <br>
        </md-input>
    </form>
</md-content>