<md-content flex class="md-padding">
    <form name="surveyTask" ng-submit="ctrl.saveSurveyTask(ctrl.surveyType.name)">
        <div align="center">
            <h3>Survey Challenge</h3>
        </div>
        <div align="center">
            <p>
                Choose the appropriate survey to be administered as your end of class survey.
            </p>
        </div>
        <br>
        <div align="center" class="md-padding">
            <md-input-container align="center">
                <md-select ng-model="ctrl.surveyType" style="width: 500px" placeholder="Please select a survey template" ng-change="ctrl.checkSurveyValid()">
                    <md-optgroup label="Upload Standard Template">
                        <md-option ng-value="survey"
                           ng-repeat="survey in ctrl.surveys"
                        >{{survey.name}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>

        <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary" ng-disabled="!ctrl.hasSurveyTitle">Save</md-button>
            <md-button type="button" class="md-accent" ng-click="ctrl.discardChanges($event)">Cancel</md-button>
        </div>
    </form>
</md-content>