<md-content flex class="md-padding">
    <form name="surveyTask" ng-submit="ctrl.saveSurveyTask(ctrl.surveyType.name)">
        <div align="center">
            <h3>Survey Challenge</h3>
        </div>
        <div align="center">
            <p>
                Choose the appropriate survey to be administered as your end of class survey.
                <span ng-hide="ctrl.currentSelected == 0 || ctrl.currentSelected == undefined"><br><br> Your previously selected survey is <b>{{ctrl.currentSelected}}</b></span>
            </p>
        </div>
        <br>
        <div align="center" class="md-padding">
            <md-input-container align="center">
                <md-select ng-model="ctrl.surveyType" style="width: 500px" placeholder="Please select a survey template" ng-change="ctrl.checkSurveyValid()">
                    <md-optgroup label="Upload Standard Template">
                        <md-option ng-value="survey"
                           ng-repeat="survey in ctrl.surveys"
                        >{{survey.name}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>

        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="ctrl.showPreview(ctrl.surveyType)" ng-disabled="!ctrl.hasSurveyTitle">Preview</md-button>
            <md-button ng-if="ctrl.currentSelected == 0 || ctrl.currentSelected == undefined" type="submit" class="md-raised md-primary" ng-disabled="!ctrl.hasSurveyTitle">Create Survey</md-button>
            <md-button ng-if="ctrl.currentSelected != undefined || ctrl.currentSelected == 0" type="submit" class="md-raised md-primary" ng-disabled="!ctrl.hasSurveyTitle">Edit Survey</md-button>
            <md-button type="button" class="md-raised" ng-click="ctrl.discardChanges($event)">Cancel</md-button>
        </div>
        <md-progress-circular ng-show="ctrl.loadPreview" md-mode="indeterminate" style="margin: 16px auto"></md-progress-circular>
    </form>
</md-content>