<md-dialog aria-label="askQuestion" class="question-dialog">
    <form name="newQuestionForm" ng-submit="ctrl.postQn()">
        <md-dialog-content class="sticky-container">
            <md-subheader class="md-sticky-no-effect">{{ctrl.event.title}}</md-subheader>
            <div>
                <md-input-container class="md-block">
                    <label for="question-title">Title</label>
                    <input type="text" name="qnTitle" id="question-title"
                              ng-model="ctrl.question.title"
                              required md-select-on-focus>
                    </input>
                    <div ng-messages="newQuestionForm.question-title.$error">
                        <div ng-message="required">Required.</div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-input-container class="md-block">
                    <label for="question-body">Question</label>
                    <textarea name="qnBody" id="question-body"
                           ng-model="ctrl.question.body"
                           required md-select-on-focus md-maxlength="300" rows="3">
                    </textarea>
                    <div ng-messages="newQuestionForm.question-body.$error">
                        <div ng-message="required">Required.</div>
                    </div>
                </md-input-container>
            </div>
            <div class="md-dialog-actions" align="center">
                <md-button type="submit" class="md-primary md-raised" ng-disabled="!newQuestionForm.$valid">
                    Post
                </md-button>
                <md-button ng-click="ctrl.closeDialog()" type="button" class="md-accent">Cancel</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
