<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<md-content flex class="md-padding">
    <md-content layout-align="center">
        <md-subheader>Events that I joined</md-subheader>
        <md-list-item ng-repeat="event in ctrl.joinedEvents">
            <md-button style="text-align:left" class="md-padding" ng-href="#{{ 'eventQueue' | urlFor:{'eventId': event.$id} }}" flex>
                {{ event.title }}
            </md-button>
            <div flex="10">x open</div>
            <div flex="10">x closed</div>
            <div flex="10">x instructor attention</div>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader>Events that I created</md-subheader>
        <md-list-item ng-repeat="event in ctrl.createdEvents">
            <md-button style="text-align:left" class="md-padding" ng-href="#{{ 'eventQueue' | urlFor:{'eventId': event.$id} }}" flex>
                {{ event.title }}
            </md-button>
            <div flex></div>
            <div flex="10">x open</div>
            <div flex="10">x closed</div>
            <div flex="10">x instructor attention</div>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader>Events that I am an assistant of</md-subheader>
        We'll work out how to access these later
    </md-content>
</md-content>