.collapsable {
    display: inline-block;
    overflow: hidden;
    height: 0;
    width:100%;
    transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -o-transition: height 1s;
}

.showMe {
    height: auto;
}


div.subhead {
    font-style: italic;
    font-size: 10px;
}

div.information {
    font-style: italic;
    font-size: 15px;
}

md-dialog.announcement-dialog {
    max-width: 70%;
    max-height: 85%;
    width: 70%;
    height: 85%;
    border-radius: 0;
}

.selectdemoSelectHeader {
    /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
.selectdemoSelectHeader md-content._md {
    max-height: 240px; }


md-virtual-repeat-container {
    height: 292px;
    width: 100%;
    /*max-width: 400px; */
}

div.repeated-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 40px;
    padding-top: 10px; }

.virtualRepeatdemoInfiniteScroll md-content {
    margin: 16px; }

md-virtual-repeat-container {
    border: solid 1px grey; }

md-virtual-repeat-container .md-virtual-repeat-offsetter div {
    padding-left: 16px;
}

