<md-content flex class="md-padding">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <md-tabs md-dynamic-height="true" md-border-bottom="true">

        <md-tab label="Ranking">
            <md-content layout-padding>
                <clm-cohorts-ranking-page
                        cohort="ctrl.cohort"
                        profile="ctrl.profile">
                </clm-cohorts-ranking-page>
            </md-content>
        </md-tab>

        <md-tab label="Announcements">
            <md-content layout-padding>
                Events within this cohort:
                <md-select flex ng-model="ctrl.selectedEvent" name="selectEvent" placeholder="View cohort events">
                    <md-option disabled ng-value="event" ng-repeat="event in ctrl.cohort.events">
                        <a href="#{{ 'oneEvent' | urlFor: {eventId: event} }}">{{ ctrl.events[event].title }}</a>
                    </md-option>
                </md-select>
                Go to my event:<br>
                <md-button aria-label="Child Event" class="md-raised md-primary" ng-repeat="event in ctrl.cohort.events" ng-if="ctrl.joinedEvents[event]" ng-href="#{{ 'oneEvent' | urlFor: {eventId: event} }}">
                    {{ctrl.events[event].title}}
                </md-button>
                <h3>Featured Announcements</h3>
                <md-card ng-repeat="a in ctrl.announcements" ng-if="a.featured && a.visible">
                    <md-toolbar>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{a.title}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-toolbar>
                    <md-card-content>
                        <p class="subhead">By {{a.madeBy}} at {{a.madeAt|date:'yyyy-MM-dd HH:mm'}}</p>
                        <div style="white-space: pre-wrap;">{{(a.content | cmTruncated: 2000).content}}<md-button ng-if="(a.content | cmTruncated: 2000).truncated" class="material-icons" ng-click="ctrl.viewFullAnnouncement(a.content, a.title)">visibility<md-tooltip>View full announcement</md-tooltip></md-button></div>
                    </md-card-content>
                </md-card>
                <h3>Announcements</h3>
                <md-content layout="row" layout-wrap>
                    <md-card ng-repeat="a in ctrl.announcements" ng-if="!a.featured && a.visible" flex="49" style="min-width: 400px;">
                        <md-toolbar>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{a.title}}</span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-toolbar>
                        <md-card-content>
                            <p class="subhead">By {{a.madeBy}} at {{a.madeAt|date:'yyyy-MM-dd HH:mm'}}<md-button ng-if="(a.content | cmTruncated: 300).truncated" class="material-icons" ng-click="ctrl.viewFullAnnouncement(a.content, a.title)">visibility<md-tooltip>View full announcement</md-tooltip></md-button></p>
                            <div style="white-space: pre-wrap;">{{(a.content | cmTruncated: 140).content}}</div>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-content>
        </md-tab>

        <md-tab label="Stats" ng-if="ctrl.isOwner">
            <md-content layout-padding>
                <clm-cohorts-stats-page
                        cohort="ctrl.cohort"
                        profile="ctrl.profile">
                </clm-cohorts-stats-page>
            </md-content>
        </md-tab>
        <md-tab label="Manage" ng-if="ctrl.isOwner">
            <md-content layout-padding>
                <md-button ng-click="ctrl.selectedAction='dupChallenges'">
                    Duplicate event challenges
                    <md-icon class="material-icons">leak_remove</md-icon>
                </md-button>
                <div ng-if="ctrl.selectedAction=='dupChallenges'">
                    Move events:<br>
                    Select event
                    <md-select ng-model="ctrl.selectedEvent" aria-label="select_event" required placeholder="Select the event with the challenge you wish to duplicate" ng-change="ctrl.loadEventChallenges()">
                        <h2>Cohort events</h2>
                        <md-option ng-value="e" ng-repeat="e in ctrl.cohort.events">
                            {{ctrl.events[e].title}}
                        </md-option>
                        <h2>Your events</h2>
                        <md-option ng-value="e.$id" ng-repeat="e in ctrl.createdEvents">
                            {{ctrl.events[e.$id].title}}
                        </md-option>
                    </md-select>
                    <div ng-if="ctrl.selectedEvent">
                        You have selected {{ctrl.selectedEvent}}
                        <md-select ng-model="ctrl.selectedChallenge" aria-label="select_challenge" required placeholder="Select the challenge you wish to duplicate">
                            <md-option ng-value="c" ng-repeat="c in ctrl.eventChallenges">
                                {{c.title}}
                            </md-option>
                        </md-select>
                    </div>
                    <div ng-if="ctrl.selectedChallenge">
                        Duplicate {{ctrl.selectedChallenge.title}} from event {{ctrl.events[ctrl.selectedEvent].title}}?<br>
                        Select events to duplicate the challenge to:
                        <md-select ng-model="ctrl.selectedEvents"
                                   data-md-container-class="selectdemoSelectHeader"
                                   multiple aria-label="select_events">
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm"
                                       type="search"
                                       placeholder="Search for a vegetable.."
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="vegetables">
                                <md-option ng-value="e" ng-repeat="e in ctrl.cohort.events |
              filter:searchTerm" ng-if="e != ctrl.selectedEvent">{{ctrl.events[e].title}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </div>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-raised md-primary" ng-if="ctrl.selectedEvents" ng-click="ctrl.duplicateChallenges()">
                            Duplicate
                        </md-button>
                    </div>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>