<md-content flex class="md-padding">
    <h3>
        <!--{{ctrl.event.message.comment}}-->
    </h3>

    <!--<div ng-hide="ctrl.profile.joinedEvents[ctrl.event.$id]">-->
        <!--Click +JOIN from the menu above to join this event.-->
        <!--<span ng-if="ctrl.event.message.password">-->
            <!--The password is <b>{{ctrl.event.message.password}}</b>.-->
        <!--</span>-->
    <!--</div>-->

    <!-- Users must finish registering before joining events -->
    <!--<md-content ng-if="ctrl.currentUser &amp;&amp; !ctrl.profile" layout-padding>-->
        <!--<md-divider></md-divider>-->
        <!--<p>To join this event, you first need to finish registering:</p>-->

        <!--<form name="registerForm" ng-submit="ctrl.register(ctrl.currentUser, registerForm)">-->
            <!--<spf-sign-form current-user="ctrl.currentUser"></spf-sign-form>-->

            <!--<div layout="row" layout-align="center center">-->
                <!--<md-button type="submit" class="md-raised md-primary" ng-disabled="registerForm.$invalid">-->
                    <!--Save-->
                <!--</md-button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</md-content>-->

    <md-tabs md-dynamic-height="true" md-border-bottom="true">

        <md-tab label="Announcements">
            <md-content layout-padding>
                Events within this cohort:
                <code style="display: block; padding: 8px;">{{ctrl.cohort.events | json}}</code>
                <h3>Featured Announcements</h3>
                <md-card ng-repeat="a in ctrl.announcements" ng-if="a.featured">
                    <!--<img ng-src="../../../../tools/assets/assets/crests/Anderson_Junior_College_crest.jpg" class="md-card-image" alt="Washed Out">-->
                    <md-toolbar>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{a.title}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-toolbar>
                    <md-card-content>
                        <p class="subhead">By {{a.madeBy}} at {{a.madeAt|date:'yyyy-MM-dd HH:mm'}}</p>
                        <p>{{a.content}}</p>
                    </md-card-content>
                </md-card>
                <h3>Announcements</h3>
                <md-content layout="row" layout-wrap>
                    <md-card ng-repeat="a in ctrl.announcements" ng-if="!a.featured" flex="49" style="min-width: 400px;">
                        <!--<img src="https://www.google.com.sg/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwj_4tDAwJXOAhWI2SYKHYkjCEsQjRwIBw&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FRicola&psig=AFQjCNFlK7LWwPU5Wn2RU9lQOEvuYnhn6w&ust=1469772796168430" class="md-card-image" alt="Washed Out">-->
                        <md-toolbar>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{a.title}}</span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-toolbar>
                        <md-card-content>
                            <p class="subhead">By {{a.madeBy}} at {{a.madeAt|date:'yyyy-MM-dd HH:mm'}}</p>
                            <p>{{a.content}}</p>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-content>
        </md-tab>

        <md-tab label="Ranking">
            <md-content layout-padding>
                This is a placeholder for the cohort ranking page
                <!--<clm-event-table-->
                        <!--ng-if="ctrl.canView"-->
                        <!--event="ctrl.event"-->
                        <!--participants="ctrl.participants"-->
                        <!--tasks="ctrl.tasks"-->
                        <!--progress="ctrl.progress"-->
                        <!--solutions="ctrl.solutions"-->
                        <!--profile="ctrl.profile"-->
                <!--&gt;-->
                <!--</clm-event-table>-->
            </md-content>
        </md-tab>

        <md-tab label="Stats">
            This is a placeholder for the cohort stats page
            <!--<md-content layout-padding>-->
                <!--<md-switch class="md-primary" ng-model="ctrl.viewArchived" aria-label="ViewArchived?">-->
                    <!--View archived challenges-->
                <!--</md-switch>-->
                <!--<md-input-container flex layout="column">-->
                    <!--<md-select flex name="selectChallengeResult"-->
                               <!--ng-model="ctrl.selected" required placeholder="Select a challenge to view results">-->
                        <!--<md-option ng-value="task" ng-repeat="task in ctrl.tasks" ng-if="!task.archived || ctrl.viewArchived">-->
                            <!--{{task.title}}-->
                        <!--</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->
                <!--<div ng-show="ctrl.selected">-->
                    <!--<h2 align="center">Showing Results for {{ctrl.selected.title}}</h2>-->
                    <!--<div align="center">Description: {{ctrl.selected.description}}</div></br>-->
                    <!--<div ng-if="ctrl.selected.textResponse" align="center">Question: {{ctrl.selected.textResponse}}</div>-->
                    <!--</br></br>-->
                    <!--Event Answers:-->
                <!--</div>-->
                <!--<div ng-show="ctrl.selected">-->

                    <!--&lt;!&ndash;Attempt at create own table directive for results&ndash;&gt;-->
                    <!--<md-content layout-padding>-->
                        <!--<clm-event-results-table-->
                                <!--ng-if="ctrl.canView"-->
                                <!--event="ctrl.event"-->
                                <!--participants="ctrl.participants"-->
                                <!--tasks="ctrl.tasks"-->
                                <!--progress="ctrl.progress"-->
                                <!--solutions="ctrl.solutions"-->
                                <!--profile="ctrl.profile"-->
                                <!--selected="ctrl.selected"-->
                                <!--scores="ctrl.scores"-->
                        <!--&gt;-->
                        <!--</clm-event-results-table>-->
                    <!--</md-content>-->
                <!--</div>-->
            <!--</md-content>-->
        </md-tab>
    </md-tabs>

</md-content>