<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div ng-if="ctrl.loading" layout="row" layout-align="space-around" class="md-padding">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-if="!ctrl.loading">
    <md-content class="md-padding">
        <!--<timer interval="1000">{{hhours}} hour{{hhoursS}}, {{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}.</timer>-->
        <md-switch ng-model="ctrl.showFilteredRanking" aria-label="showFilter?" ng-change="ctrl.filterRanking()">
            Show Filtered Rankings: {{ ctrl.showFilteredRanking }}
        </md-switch>
        <table class="events ranking">
            <thead>
            <tr>
                <th>
                    <md-button>Rank</md-button>
                </th>
                <th>
                    <md-button>Registered ({{ctrl.cohortTotalParticipants.length}})</md-button>
                </th>
                <th ng-if="ctrl.showFilteredRanking">
                    <md-button>Qualified</md-button>
                </th>
                <th>
                    <md-button>Event</md-button>
                </th>
                <th ng-if="ctrl.showFilteredRanking">
                    <md-button ng-disabled="true">1st</md-button>
                </th>
                <th ng-if="ctrl.showFilteredRanking">
                    <md-button ng-disabled="true">2nd</md-button>
                </th>
                <th ng-if="ctrl.showFilteredRanking">
                    <md-button ng-disabled="true">3rd</md-button>
                </th>
                <th ng-if="ctrl.showFilteredRanking">
                    <md-button ng-disabled="true">4th</md-button>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-if="!ctrl.showFilteredRanking" ng-repeat="event in ctrl.cohortEventData | orderBy:'-participants'" ng-class="'index-' + $index + ' ' + ($odd ? 'odd' : 'even')">
                    <th>
                     {{$index+1}}
                    </th>
                    <td>{{ event.participants.length }}</td>
                    <td><a href="#{{ 'oneEvent' | urlFor: {eventId: event.id} }}">{{ event.title }}</a></td>
                </tr>
                <tr ng-if="ctrl.showFilteredRanking && ctrl.cohort.title.toLowerCase().indexOf('junior') < 0" ng-repeat="event in ctrl.cohortEventData | orderBy:'-qualifiedParticipants'" ng-class="'index-' + $index + ' ' + ($odd ? 'odd' : 'even')">
                    <th>
                        {{$index+1}}
                    </th>
                    <td>{{ event.participants.length }}</td>
                    <td>{{ event.qualifiedParticipants.length }}</td>
                    <td><a href="#{{ 'oneEvent' | urlFor: {eventId: event.id} }}">{{ event.title }}</a></td>
                    <td ng-if="ctrl.showFilteredRanking && $index<6 && event.qualifiedParticipants[0]">{{event.qualifiedParticipants[0].displayName }} ({{event.qualifiedParticipants[0].score}})</td>
                    <td ng-if="ctrl.showFilteredRanking && $index<6 && event.qualifiedParticipants[1]">{{event.qualifiedParticipants[1].displayName }} ({{event.qualifiedParticipants[1].score}})</td>
                    <td ng-if="ctrl.showFilteredRanking && $index<2 && event.qualifiedParticipants[2]">{{event.qualifiedParticipants[2].displayName }} ({{event.qualifiedParticipants[2].score}})</td>
                    <td ng-if="ctrl.showFilteredRanking && $index<2 && event.qualifiedParticipants[3]">{{event.qualifiedParticipants[3].displayName }} ({{event.qualifiedParticipants[3].score}})</td>
                </tr>
                <tr ng-if="ctrl.showFilteredRanking && ctrl.cohort.title.toLowerCase().indexOf('junior') >= 0" ng-repeat="event in ctrl.cohortEventData | orderBy:'-qualifiedParticipants'" ng-class="'index-' + $index + ' ' + ($odd ? 'odd' : 'even')">
                    <th>
                        {{$index+1}}
                    </th>
                    <td>{{ event.participants.length }}</td>
                    <td>{{ event.qualifiedParticipants.length }}</td>
                    <td><a href="#{{ 'oneEvent' | urlFor: {eventId: event.id} }}">{{ event.title }}</a></td>
                    <td ng-if="ctrl.showFilteredRanking && $index<12 && event.qualifiedParticipants[0]">{{event.qualifiedParticipants[0].displayName }} ({{event.qualifiedParticipants[0].score}})</td>
                    <td ng-if="ctrl.showFilteredRanking && $index<12 && event.qualifiedParticipants[1]">{{event.qualifiedParticipants[1].displayName }} ({{event.qualifiedParticipants[1].score}})</td>
                    <td ng-if="ctrl.showFilteredRanking && $index<4 && event.qualifiedParticipants[2]">{{event.qualifiedParticipants[2].displayName }} ({{event.qualifiedParticipants[2].score}})</td>
                    <td ng-if="ctrl.showFilteredRanking && $index<4 && event.qualifiedParticipants[3]">{{event.qualifiedParticipants[3].displayName }} ({{event.qualifiedParticipants[3].score}})</td>
                </tr>
            </tbody>
        </table>
    </md-content>

    <clm-pager options="ctrl.pagerOpts" class="md-padding"></clm-pager>
</div>