<md-content flex class="md-padding">
    <h2 hide show-sm>
        {{ ctrl.event.title }}
    </h2>

    <form name="editCohortForm" ng-submit="ctrl.save(ctrl.currentUser, ctrl.cohort, editCohortForm)">
        <md-input-container>
            <label for="cohort-title">Cohort Name</label>
            <input name="cohortTitle" type="text" id="cohort-title" ng-model="ctrl.cohort.title" ng-minlength="3" ng-maxlength="60" required="true"/>
            <div ng-messages="editCohortForm.cohortTitle.$error">
                <div ng-message="required">A cohort must have a name.</div>
                <div ng-message="minlength">A cohort name shouldn't be shorter than 3 characters.</div>
                <div ng-message="maxlength">A cohort name shouldn't be longer than 60 characters.</div>
            </div>
        </md-input-container>

        <md-progress-circular ng-show="ctrl.savingCohort" md-mode="indeterminate" style="margin: 16px auto"></md-progress-circular>

        <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary" ng-disabled="editCohortForm.$pristine || editCohortForm.$invalid || ctrl.savingCohort">Save</md-button>
            <md-button type="reset" class="md-raised" ng-click="ctrl.reset(editCohortForm)" ng-disabled="ctrl.savingCohort || editCohortForm.$pristine">Reset</md-button>
        </div>
    </form>
    <md-divider></md-divider>
    <h3>Cohort Announcements</h3>
    <md-button class="md-raised md-primary" ng-click="ctrl.createNewAnnouncement()">New Announcement</md-button>
    <form name="addAnnouncementForm" ng-submit="ctrl.saveAnnouncement(ctrl.cohort.$id)">
        <md-card ng-if="ctrl.creatingNewAnnouncement">
            <md-input-container>
                <input aria-label="Announcement title" required placeholder="Announcement title" type="text" ng-model="ctrl.newAnnouncement.title" id="new-announcement-title" name="newAnnouncementTitle">
            </md-input-container>
            <textarea aria-label="Announcement content" required placeholder="Announcement content" name="newAnnouncementContent" id="new-announcement-content"
                      ng-model="ctrl.newAnnouncement.content" rows="3">
            </textarea>
            <md-switch ng-model="ctrl.newAnnouncement.featured" aria-label="Featured?">
                Featured: {{ ctrl.newAnnouncement.featured }}
            </md-switch>
            <md-switch ng-model="ctrl.newAnnouncement.visible" aria-label="Visibility">
                Visible: {{ ctrl.newAnnouncement.visible }}
            </md-switch>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="addAnnouncementForm.$pristine || addAnnouncementForm.$invalid">Save Announcement</md-button>
            <md-button class="md-raised" ng-click="ctrl.closeNewAnnouncement()">Cancel</md-button>
        </md-card>
    </form>
</md-content>
