<md-content flex class="md-padding">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <md-tabs md-dynamic-height="true" md-border-bottom="true">

        <md-tab label="Announcements">
            <md-content layout-padding>
                Events within this cohort:
                <md-select flex ng-model="ctrl.selectedEvent" name="selectEvent" placeholder="Navigate to cohort events">
                    <md-option disabled ng-value="event" ng-repeat="event in ctrl.cohort.events">
                        {{ctrl.events[event].title}}
                    </md-option>
                </md-select>
                <h3>Featured Announcements</h3>
                <md-card ng-repeat="a in ctrl.announcements" ng-if="a.featured && a.visible">
                    <md-toolbar>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{a.title}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-toolbar>
                    <md-card-content>
                        <p class="subhead">By {{a.madeBy}} at {{a.madeAt|date:'yyyy-MM-dd HH:mm'}}</p>
                        <p>{{a.content}}</p>
                    </md-card-content>
                </md-card>
                <h3>Announcements</h3>
                <md-content layout="row" layout-wrap>
                    <md-card ng-repeat="a in ctrl.announcements" ng-if="!a.featured && a.visible" flex="49" style="min-width: 400px;">
                        <md-toolbar>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{a.title}}</span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-toolbar>
                        <md-card-content>
                            <p class="subhead">By {{a.madeBy}} at {{a.madeAt|date:'yyyy-MM-dd HH:mm'}}<md-button ng-if="(a.content | cmTruncated: 300).truncated" class="material-icons" ng-click="ctrl.viewFullAnnouncement(a.content)">visibility</md-button></p>
                            <p>{{(a.content | cmTruncated: 140).content}}</p>

                        </md-card-content>
                    </md-card>
                </md-content>
            </md-content>
        </md-tab>

        <md-tab label="Ranking">
            <md-content layout-padding>
                This is a placeholder for the cohort ranking page
            </md-content>
        </md-tab>

        <md-tab label="Stats">
            <md-content layout-padding>
                This is a placeholder for the cohort stats page
                <clm-cohorts-stats-page>
                    
                </clm-cohorts-stats-page>
            </md-content>
        </md-tab>
    </md-tabs>

</md-content>