<md-content flex>
	<md-content class="md-padding">
		<p>The IDA <a href="https://www.ida.gov.sg/Sub/Talent/Student-Programmes/National-Infocomm-Competition">2016 Ace of Coders</a> National Infocomm Competition will take place on November 12, 2016.</p>
		<p>There will be a junior and senior category. The password to join all events is "ida" unless a teacher from your school has requested to change the password. </p>
<ol>	    
	<li>Please login to ClassMentors.com by clicking the login button above.</li>
    <li>If you are new to ClassMentors, you will need to enter a unique public ID after you login (example: chris123).</li>
    <li>After you are logged-in and have completed registering, click on the event for your school below.</li>
	<li>From the school event page, click the <b>Join</b> button, enter the password <b>ida</b>, and press enter. </li> 
	<li>Once you have joined an event, go register for an account at <a href="https://codecombat.com/">CodeCombat.com</a> and complete the first level. This should only take you about 5 minutes.</li>
	<li>Then come back to ClassMentors and update <a href="/#/profile/">your profile</a> with your CodeCombat username. This will allow ClassMentors to see how many CodeCombat achievements you have completed.</li> 
</ol>

	    <p>If you see a school missing in the rankings below, please encoruage them to participate. If your school is not listed, you can join the <b>All Other Junior</b> or <b>All Other Senior</b> events.</p>
		<p>You can visit the <a href="https://www.facebook.com/aceofcoders">Ace of Coders Facebook page</a> to leave comments, ask questions, and join in the conversation.</p>
			
Thank you!<br>
ClassMentors Team<br>
		
		<!-- <p><b>{{$ctrl.stats.total_participants}}</b> students have registered so far.</p>
		<p><b>{{$ctrl.stats.total_schools}}</b> schools are participating.</p>
		-->

	</md-content>
 
	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<h3><span>Junior Category Schools</span></h3>
		</div>
	</md-toolbar>
	<md-content class="md-padding">
		<!--<md-subheader>0 School yet.</md-subheader>-->
		<table>
			<tr>
				<th>Rank</th> 
				<th>Registerd Students</th>
				<th>School Event</th>
				<th></th> 
				<th></th> 
			</tr>
			<tr ng-repeat="school in $ctrl.stats.junior_ranking" bgcolor="{{$index==11?'lightgreen':'white'}}">
				<td>{{$index+1}}</td>				
				<td>{{school.total}}</td>
				<td><a href="{{school.eventURL}}">{{school.school}}</a></td>
				<td ng-if="school.name !== 'no second student'"></td>
				<td></td>
			</tr>

	    </table>
	</md-content>

	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<h3><span>Senior Category Schools</span></h3>
		</div>
	</md-toolbar>
	<md-content class="md-padding">
		<!--<md-subheader>0 School yet.</md-subheader>-->
		<table>
			<tr>
				<th>Rank</th> 
				<th>Registered Students</th>
				<th>School Event</th>
				<th></th> 
				<th></th>
			</tr>
			<tr ng-repeat="school in $ctrl.stats.senior_ranking"  bgcolor="{{$index==5?'lightgreen':'white'}}">
				<td>{{$index+1}}</td>
				<td>{{school.total}}</td>
				<td><a href="{{school.eventURL}}">{{school.school}}</a></td>
				<td ng-if="school.name !== 'no second student'"></td>
				<td></td>
				<!--<td ng-if="school.name == 'no second student'"><span style="font-style: italic; color: grey;">No second student</span></td>-->
			</tr>
	    </table>
    </md-content>
</md-content>