<md-content flex class="md-padding">

  <!--{{ctrl.data}}-->
  <div align="center">
    <h3>Multiple Choice</h3>
    <h4>Title: {{ctrl.task.title}}</h4>
    <h4>Description: {{ctrl.task.description}}</h4>
    <br><br>
  </div>

  <div name="continueMCQ">
    <!------------------starting of questions--------------------------------------------->
    <div ng-repeat="question in ctrl.questions">
      <h3>
        Question {{$index + 1}}
      </h3>
      <div align="center" layout="row" >
        {{question.text}}
      </div>

      <!--answer options-->
      <div align="center" layout="row" ng-repeat="option in question.options" >


        <!--single answer or no?-->
        <md-input-container>
          <h4>{{option.text}}</h4>
          <md-button ng-model="question.answers" ng-class="question.answers.indexOf($index) != -1 ? 'md-raised md-primary' : 'md-raised'"
                     ng-click="ctrl.toggleOption(question, $index, question.singleAns)">Answer</md-button>
        </md-input-container>
      </div>

    </div>

    <br>

    <div align="center">
      <md-button type="submit" class="md-raised md-primary" ng-click="
                ctrl.submit(ctrl.questions)
            ">Submit</md-button>
      <!--<md-button type="reset" class="md-raised" ng-click="ctrl.discardChanges($event,ctrl.task)">Back</md-button>-->
    </div>
    </form>
  </div>
</md-content>