<md-content flex class="md-padding">

  <div layout='column' align="left">
    <h3>{{ctrl.task.title}}</h3>
    <p>{{ctrl.task.description}}</p>
    <br>
  </div>

  <form name="startMcq" ng-submit="ctrl.submit()">
    <div layout-align="column">
        <!------------------starting of questions--------------------------------------------->
        <div flex ng-repeat="question in ctrl.questions">
          <div align="start" layout="column" >
            <label><h2>Question {{$index + 1}}</h2></label>
            <md-divider></md-divider>
            <label><h4>{{question.text}}</h4></label>
          </div>

          <!--answer's options-->
          
            <!--Radio button inputs-->
            <div ng-show="!ctrl.multipleAns[$index]">
                <md-radio-group ng-required="true" ng-model="question.answers" >
                  <div layout="column" ng-repeat="option in question.options">
                    <div layout="row">
                      <div flex="80">
                        <label>{{$index + 1}}) {{option.text}}</label>
                      </div>
                      <div flex="20">
                        <md-radio-button value={{$index}}></md-radio-button>
                      </div>
                    </div>
                    <md-divider layout-padding ng-if="!$last"></md-divider>
                  </div>
                </md-radio-group>
            </div>
            
            <!--Checkbox inputs-->
            <div ng-show="ctrl.multipleAns[$index]">
              <div layout="column" ng-repeat="option in question.options">
                <div layout="row">
                  <div flex="80">
                    <label>{{$index + 1}}) {{option.text}}</label>
                  </div>
                  <div flex="20">
                    <md-checkbox ng-model="option.checked" ng-required="question.answers.length == 0" ng-click="ctrl.toggle(question.answers, $index)"></md-checkbox>
                  </div>
                </div>
                <md-divider layout-padding ng-if="!$last"></md-divider>
              </div>
            </div>
        </div>
      </div>
    <br/>
      <div layout="row" layout-align="center center">
        <md-button type="submit" class="md-raised md-primary" ng-disabled="startMcq.$invalid">Submit</md-button>
        <md-button type="button" class="md-accent" ng-click="ctrl.discardChanges($event)">Cancel</md-button>
      </div>
  </form>
</md-content>