<md-content flex class="md-padding">
    <form name="editMcq" ng-submit="ctrl.save(ctrl.questions)">
        {{ctrl.data}}
        <div align="center">
            <h3>Multiple Choice Question Details</h3>
            <br><br>
        </div>

        <div ng-repeat="question in ctrl.questions">
            <h3>
                Question {{$index + 1}}
                <md-button class="md-raised" ng-click="ctrl.removeQuestion($event,$index)"
                           ng-disabled="ctrl.questions.length == 1">Delete this question
                </md-button>
            </h3>


            <div layout="row">
                <md-input-container flex>
                    <label for="edit-question_{{$index}}">Click here to set your question</label>
                    <input type="text" name="editQuestion" id="edit-question_{{$index}}"
                           ng-change="ctrl.checkMCQValid(question.text)"
                           ng-model="question.text"
                           placeholer="Click here to set your question"

                    />

                </md-input-container>
            </div>

            <md-input-container>
                <md-button type="button" class="md-raised md-primary" id="addOptions"
                           ng-click="ctrl.addOption(question)">Add option
                </md-button>
            </md-input-container>

            <!--<p ng-show="!ctrl.isMcqValid"><font color="red">*One of the option must be an answer.</font></p>-->

            <!--answer options-->
            <div layout="row" ng-repeat="option in question.options">
                <!--{{$index}}-->
                <md-input-container flex>
                    <label for="q-option_{{$index}}">Click here to set your option</label>
                    <input type="text" name="editQuestion" id="q-option_{{$index}}"
                           ng-model="option.text"
                           placeholer="Options"
                           ng-change="ctrl.checkOptionValid(option.text)"
                    />
                </md-input-container>

                <!--todo: required at least one option to be the answer.-->
                <md-input-container>
                    <md-button ng-model="question.answers"
                               ng-class="question.answers.indexOf($index) != -1 ? 'md-raised md-primary' : 'md-raised'"
                               ng-click="ctrl.toggleOption(question, $index)">Answer
                    </md-button>
                </md-input-container>

                <md-input-container>
                    <md-button class="md-raised" ng-click="ctrl.removeOption(question,$index)"
                               ng-disabled="question.options.length == 1">Delete option
                    </md-button>
                </md-input-container>
            </div>

        </div>


        <br>
        <div align="center">
            <!--todo: can add new set of question-->
            <md-button type="button" class="md-raised md-primary" ng-click="ctrl.addQuestion()">Add question</md-button>
        </div>

        <br>

        <div align="center">
            <md-button type="submit" ng-disabled="!ctrl.isMcqValid || !ctrl.isTextFilled || !ctrl.isOptionValid" class="md-raised md-primary">Save
            </md-button>
            <md-button type="button" class="md-accent" ng-click="ctrl.discardChanges($event)">Cancel</md-button>
        </div>
    </form>

</md-content>