<md-content flex class="md-padding">
    <h3>
        {{ctrl.event.message.comment}}
    </h3>
    <div ng-hide="ctrl.profile.joinedEvents[ctrl.event.$id]">
        Click +JOIN from the menu above to join this event. 
        <span ng-if="ctrl.event.message.password">
            The password is <b>{{ctrl.event.message.password}}</b>.
        </span>
    </div>
    <!-- Users must finish registering before joining events -->
    <md-content ng-if="ctrl.currentUser &amp;&amp; !ctrl.profile" layout-padding>
        <md-divider></md-divider>
        <p>To join this event, you first need to finish registering:</p>

        <form name="registerForm" ng-submit="ctrl.register(ctrl.currentUser, registerForm)">
            <spf-sign-form current-user="ctrl.currentUser"></spf-sign-form>

            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="registerForm.$invalid">
                    Save
                </md-button>
            </div>
        </form>
    </md-content>
    <md-tabs md-dynamic-height="true" md-border-bottom="true">

        <md-tab label="Ranking">
            <md-content layout-padding>
                <clm-event-rank-table
                    event="ctrl.event"
                    profile="ctrl.profile"
                    assistants="ctrl.asstArr"
                ></clm-event-rank-table>
            </md-content>
        </md-tab>

        <md-tab label="Challenges" ng-disabled="!ctrl.participants">
            <md-content layout-padding>
                <clm-event-table
                    ng-if="ctrl.canView"
                    event="ctrl.event"
                    participants="ctrl.participants"
                    tasks="ctrl.tasks"
                    progress="ctrl.progress"
                    solutions="ctrl.solutions"
                    profile="ctrl.profile"
                >
                </clm-event-table>
            </md-content>
        </md-tab>

        <md-tab label="Results" ng-if="ctrl.participants && ctrl.isReviewSuperUser">
            <md-content layout-padding>
                <md-switch class="md-primary" ng-model="ctrl.viewArchived" aria-label="ViewArchived?">
                    View archived challenges
                </md-switch>
                <md-input-container flex layout="column">
                    <md-select flex name="selectChallengeResult"
                               ng-model="ctrl.selected" required placeholder="Select a challenge to view results" ng-change="ctrl.loadSolutions()">
                        <md-option ng-value="task" ng-repeat="task in ctrl.tasks" ng-if="task.startIRAT && !task.formationPattern && !task.survey && (!task.archived || ctrl.viewArchived)">
                            {{task.title}} (IRAT)
                        </md-option>
                        <md-option ng-value="task" ng-repeat="task in ctrl.tasks" ng-if="task.startTRAT && !task.formationPattern && !task.survey && (!task.archived || ctrl.viewArchived)">
                            {{task.title}} (TRAT)
                        </md-option>
                        <md-option ng-value="task" ng-repeat="task in ctrl.tasks" ng-if="task.type=='voteQuestions'">
                            {{task.title}} (Voted Cards)
                        </md-option>
                        <!--<md-option ng-value="task" ng-repeat="task in ctrl.tasks" ng-if="task.type=='reflectionQuestion'">-->
                            <!--{{task.title}} (Reflection Cards)-->
                        <!--</md-option>-->
                        <md-option ng-value="task" ng-repeat="task in ctrl.tasks" ng-if="!task.startTRAT && !task.startIRAT && !task.formationPattern && !task.survey && (!task.archived || ctrl.viewArchived) && !task.teamFormationParameter">
                            {{task.title}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div ng-if="ctrl.selected">
                    <div ng-if="!ctrl.loadingSolutions">
                        <h2 align="center">Showing Results for {{ctrl.selected.title}}</h2>
                        <div align="center">Description: {{ctrl.selected.description}}</div></br>
                        <div ng-if="ctrl.selected.textResponse" align="center">Question: {{ctrl.selected.textResponse}}</div>
                        </br></br>
                        Event Answers:
                        <md-content layout-padding>
                            <clm-event-results-table
                                    ng-if="ctrl.canView"
                                    event="ctrl.event"
                                    participants="ctrl.participants"
                                    tasks="ctrl.tasks"
                                    progress="ctrl.progress"
                                    solutions="ctrl.solutions"
                                    profile="ctrl.profile"
                                    selected="ctrl.selected"
                                    scores="ctrl.scores"
                                    teams="ctrl.teams"
                            >
                            </clm-event-results-table>
                        </md-content>
                    </div>
                    <div ng-if="ctrl.loadingSolutions">
                        Loading solutions...
                    </div>
                </div>
            </md-content>
        </md-tab>

        <md-tab label="Submissions" ng-if="ctrl.hasSubmissions">
            <md-content>
                Your submissions:
                <md-list>
                    <md-list-item ng-repeat="task in ctrl.tasks" ng-if="ctrl.solutions[ctrl.profile.$id][task.$id]">
                        <!--Task: {{task}}-->
                        <!--My Answer: {{ctrl.solutions[ctrl.profile.$id][task.$id]}}-->
                        <div flex="70">
                            <h4>{{task.title}}</h4>
                            {{task.description}}<br>
                            {{task.textResponse}}
                            <!--<span ng-if="task.lang">-->
                                <!--Code Submission:<br>-->
                                <!--{{ctrl.solutions[ctrl.profile.$id][task.$id] | cmTruncate: 20}}-->
                            <!--</span>-->
                            <!--<span ng-if="task.linkPattern">-->
                                <!--Link Submission:<br>-->
                                <!--{{ctrl.solutions[ctrl.profile.$id][task.$id] | cmTruncate: 20}}-->
                            <!--</span>-->
                        </div>
                        <div layout="column" layout-align="center center">
                            <md-button class="material-icons" ng-click="">visibility
                                <md-tooltip>View Submission</md-tooltip>
                            </md-button>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
    </md-tabs>

</md-content>