md-tooltip ._md-content {
    height: auto;
}

/*@media screen and (min-width: 600px) {*/
    /*md-tooltip .md-content {*/
        /*font-size: 6px;*/
        /*height: auto;*/
        /*width: 300px;*/
        /*padding: 8px;*/
        /*max-width: 300px;*/
    /*}*/
/*}*/

.events th, .events td {
    text-align: center;
    padding: 0 10px 0;
}

.tasks tbody th:first-child {
    text-align: left;
    padding-left: 0;
}

.reversed th.orderer .md-button:after{
    content: " \25BC";
    font-size: 12px;
}

.secondaryReversed th.secondaryOrderer .md-button:after {
    content: " \25BC";
    font-size: 12px;
}

th.orderer .md-button:after, th.secondaryOrderer .md-button:after {
    content: " \25B2";
    font-size: 12px;
}

th.secondaryOrderer .md-button:after {
    color: #ddd;
}

.name-button{
	text-align: left;
	width: 100%;
}

#editor{
    /*position: absolute;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 400px;
    width: 15000px;
    max-height: 90%;
    max-width: 100%;
}

md-dialog.enlarged-dialog {
    max-width: 70%;
    max-height: 90%;
    width: 70%;
    height: 90%;
    border-radius: 0;
}

md-dialog.link-dialog {
    max-width: 70%;
    max-height: 50%;
    width: 70%;
    height: 50%;
    border-radius: 0;
}


.collapsable {
    display: inline-block;
    overflow: hidden;
    height: 0;
    transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -o-transition: height 1s;
}

.collapsableTask {
    display: inline-block;
    overflow: hidden;
    height: 0;
    width:100%;
    transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -o-transition: height 1s;
    word-wrap: break-word;
}

.showMe {
    height: auto;
}

.showMe2{
    height:auto;
}
