<md-dialog aria-label="{{ctrl.task.title}}" class="md-padding enlarged-dialog">
  <form name='voteQuestion' ng-submit='ctrl.submit()'>
    <md-dialog-content class="sticky-container">
      <div name='voteDialog' layout-align='column start' >
          <div name='title'>
              <h2>{{ctrl.title}}</h2>
          </div>
          <div name='desc'><label>{{ctrl.desc}}</label></div>
          <div name='voting'>
              <h4>Your question ranking:</h4>
              <md-content class='md-padding autocomplete' layout='column'>
                  <md-chips required ng-model='ctrl.rankedQuestions' md-require-match="true" md-transform-chip='ctrl.validateChip($chip)'>
                    <md-chip-template>
                      <span>
                        <strong>#{{$chip.rank}} {{$chip.member}}</strong>
                      </span>
                    </md-chip-template>
                    <md-autocomplete
                      md-search-text="ctrl.searchText"
                      md-autofocus='true'
                      md-items='item in ctrl.queryMembers(ctrl.searchText)'
                      placeholder='Rank Questions By User'
                      md-match-case-insensitive='true'
                      md-item-text='item.member'
                      md-select-on-match='true'
                      md-autoselect='true'
                    >
                    <md-item-template>
                      <span md-highlight-text="searchText">{{item.member}}</span>
                    </md-item-template>
                  </md-autocomplete>
                  </md-chips>
                  <span ng-show='ctrl.rankedQuestions.length != ctrl.allMemberAnswers.length'>
                    You need to vote for all questions
                  </span>
              </md-content>
              <md-content>
                <md-list>
                  <md-list-item class="md-3-line" ng-repeat="item in ctrl.allMemberAnswers" ng-click="ctrl.select(item)">
                    <div class="md-list-item-text">
                      <h3>{{item.member}}</h3>
                      <p>{{item.answer}}</p>
                      <p><i>Click here to vote for this question</i></p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                  </md-list-item>
                </md-list>
              </md-content>
          </div>
      </div>
      <div layout='row' layout-align="center center">
          <md-button type='submit' ng-disabled="ctrl.rankedQuestions.length != ctrl.allMemberAnswers.length" class="md-raised md-primary" style="width: 150px;">Submit and close
          </md-button>
          <md-button class="md-raised" ng-click="ctrl.cancel()" class=" md-accent" style="width: 150px;">
              Cancel
          </md-button>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
