<md-content flex class="md-padding">
  <form name="createTeamActivity" submit="ctrl.submit()">
    <div name='selectActivity'>
    <label>Select Activity Type</label>
      <!--Radio group for Activity Types-->
      <md-input-container>
        <md-radio-group ng-model='ctrl.activityType' ng-required="true>
          {{ctrl.activityType}}
          <md-radio-button value="gameShow">Game Show (IRAT,TRAT)</md-radio-button>
          <md-radio-button value="indexCards">Index Cards</md-radio-button>
          <md-radio-button value="collabSubmission">Collaborative Submission</md-radio-button>
        </md-radio-group>
      </md-input-container>
    </div>
    <md-divider layout-padding ng-if="!$last"></md-divider>
    <div>
      {{ctrl.isNewTeams}}
      <md-input-container>
        <md-checkbox ng-model='ctrl.isNewTeams' checked></md-checkbox>
      </md-input-container>
      <!--if "set new teams" is checked-->
      <md-input-container ng-show="ctrl.isNewTeams">
        <label>Select your team formation method</label>
        {{ctrl.teamFormationMethod}}
        <md-select ng-model="ctrl.teamFormationMethod">
          <md-option value="teamSize">By team size</md-option>
          <md-option value="noOfTeams">By number of teams</md-option>
        </md-select>
      </md-input-container>
      <md-input-container ng-show="ctrl.isNewTeams" ng-required="true">
        <label>{{ctrl.teamFormationMethod === "teamSize" ? "Enter Team Size" : "Enter Number of Teams"}}</label>
        <input ng-model="ctrl.teamFormationParameter" 
          placeholder={{ctrl.teamFormationMethod === "teamSize" ? "Team Size" : "Number of Teams"}}>
      </md-input-container>
      <!--if "set new teams" is unchecked-->
      <md-input-container ng-hide="ctrl.isNewTeams">
        <md-select ng-model="ctrl.teams">
          <md-option ng-repeat="team in teams" ng-value="team.name"></md-option>
        </md-select>
      </md-input-container>
      <md-input-container ng-show="ctrl.activityType === gameShow">
        <label>Select existing or create new multiple choice question</label>
        {{ctrl.selectedMCQ}}
        <md-select ng-model="ctrl.selectedMCQ">
          <md-option ng-value="createMCQ" selected></md-option>
          <md-option ng-repeat="m in mcqs" ng-value="$index"></md-option>
        </md-select>
      </md-input-container>
    <md-button type="submit" ng-disabled="createTeamActivity.$invalid">CREATE</md-button>
    </div>
  </form>
</md-content>