<md-dialog>
  <form name='submitReview' ng-submit="ctrl.submit()">
    <md-dialog-content>
      <div>
        <h3>Your Question:</h3>
        <h4>{{ctrl.userQuestion}}</h4>
      </div>
      <div>
        <label><h2>Select the appropriate response below for your question.</h2></label>
        <md-content>
          <md-radio-group ng-required="true" ng-model="ctrl.answer">
            <div layout="column" ng-repeat="option in ctrl.options">
              <div layout="row">
                <div flex="80">
                  <label>{{$index + 1}}) {{option.text}}</label>
                </div>
                <div flex="20">
                  <md-radio-button value={{$index}}></md-radio-button>
                </div>
              </div>
              <md-divider layout-padding ng-if="!$last"></md-divider>
            </div>
          </md-radio-group>
        </md-content>
      </div>
      <div layout="row" layout-align="center center">
        <md-button type="submit" class="md-raised md-primary" ng-disabled="submitReview.$invalid">Done</md-button>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
