<md-content flex class="md-padding">
    <form name="surveyForm" ng-submit="ctrl.submitSchEngageResponse(ctrl.schEngageResp)">
        <div>
            <h1>School Engagement Scale</h1>
        </div>
        <div>
            <h3>Please respond to the questions below using the following scale</h3>
        </div>

        <br>
        <hr style="background: #808080; border: 0; height: 3px"/>
        <md-input container flex>
            <table ng-repeat="(key, value) in ctrl.questions[2]" width="100%">
                <tr ng-if="key == 1">
                    <td>
                        <h3>Behavioural Engagement</h3>
                    </td>
                </tr>
                <tr ng-if="key == 5">
                    <td>
                        <h3>Emotional Engagement</h3>
                    </td>
                </tr>
                <tr ng-if="key == 11">
                    <td>
                        <h3>Cognitive Engagement</h3>
                    </td>
                </tr>
                <tr ng-class="'index-' + $index + ' ' + ($odd ? 'odd' : 'even')">
                    <td ng-if="key != '0'" style="width: 600px">
                        {{key}}. {{value}}
                    </td>
                    <td ng-if="key != '0'">
                        <md-radio-group layout="row" ng-model="$parent.ans" ng-change="ctrl.schEngageResp[key] = ans" required>
                            <div ng-repeat="(key2, value2) in ctrl.responseRating">
                                <md-radio-button style="margin-right:20px" class="md-primary"
                                                 ng-value="value2.option">
                                    {{value2.option}}
                                </md-radio-button>
                            </div>
                        </md-radio-group>
                    </td>
                    <!--<td ng-if="key != '0'">-->
                    <!--<md-button class="md-raised md-primary" data-id="{{key}}"-->
                    <!--ng-click="ctrl.saveSurveyResponse(ans , $event, task.$id)">-->
                    <!--Save-->
                    <!--</md-button>-->
                    <!--</td>-->
                </tr>

            </table>
            <br>
        </md-input>

        <div align="center">
            <md-button type="submit" ng-disabled="surveyForm.$invalid" class="md-raised md-primary" style="width: 150px;">Submit</md-button>
            <md-button ng-click="ctrl.backToChallenge()" class="md-accent" style="width: 150px;">
                Discard
            </md-button>
        </div>
    </form>
</md-content>