<md-content flex class="md-padding">
    <form name="surveyForm" ng-submit="">
        <div>

        </div>
        <div>
            <h3>Please respond to the questions below using the following scale</h3>
        </div>
        <div>
            1: Not true at all - 5: I could not agree more
        </div>
        <br>
        <hr style="background: #808080; border: 0; height: 3px"/>
        <md-input container flex>
            <u><h4>Behavioural Engagement</h4></u>
            <br>
            <b><label>1. I pay attention in class</label></b>
            <br><br>
            <md-radio-group id="Q1"  layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <br>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>


            <b><label>2. When I am in class I just act as if I am working</label></b>
            <br><br>
            <md-radio-group id="Q2" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <br>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>


            <b><label>3. I follow the rules at school</label></b>
            <br><br>
            <md-radio-group id="Q3" layout="row">
                <md-radio-button value="never3" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <br>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>


            <b><label>4. I get in trouble at school</label></b>
            <br><br>
            <md-radio-group id="Q4" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <br>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>
            <hr style="background: #808080; border: 0; height: 3px"/>

            <u><h4>Emotional Engagement</h4></u>

            <b><label>5. I feel happy in school</label></b>
            <br><br>
            <md-radio-group id="Q5" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <br>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>

            <b><label>6. I feel bored in school</label></b>
            <br><br>
            <md-radio-group id="Q6"  layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <br>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>

            <b><label>7. I feel excited by the work in school</label></b>
            <br><br>
            <md-radio-group id="Q7" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <br>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>


            <b><label>8. I like being at school</label></b>
            <br><br>
            <md-radio-group id="Q8" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <br>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>


            <b><label>9. I am interested in the work at school</label></b>
            <br><br>
            <md-radio-group id="Q9" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <br>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>


            <b><label>10. My classroom is a fun place to be</label></b>
            <br><br>
            <md-radio-group id="Q10" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>
            <hr style="background: #808080; border: 0; height: 3px"/>

            <u><h4>Cognitive Engagement</h4></u>

            <b><label>11. When I read a book, I ask myself questions to make sure I understand what it is about</label></b>
            <br><br>
            <md-radio-group id="Q11" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>


            <b><label>12. I study at home even when I don’t have a test</label></b>
            <br><br>
            <md-radio-group id="Q12" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>


            <b><label>13. I try to watch TV shows about things we are doing in school</label></b>
            <br><br>
            <md-radio-group id="Q13" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>


            <b><label>14. I check my schoolwork for mistakes</label></b>
            <br><br>
            <md-radio-group id="Q14" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>


            <b><label>15. I read extra books to learn more about things we do in school</label></b>
            <br><br>
            <md-radio-group id="Q15" layout="row">
                <md-radio-button value="never" class="md-primary">Never</md-radio-button>
                <md-radio-button value="onoccasion" class="md-primary">On Occasion</md-radio-button>
                <md-radio-button value="someofthetime" class="md-primary">Some of the Time</md-radio-button>
                <md-radio-button value="mostofthetime" class="md-primary">Most of the Time</md-radio-button>
                <md-radio-button value="allofthetime" class="md-primary">All of the Time</md-radio-button>
            </md-radio-group>
            <br>
            <div><md-button type="submit" class="md-raised md-primary">Save</md-button></div>
            <br>
            <div><md-button type="submit" class="md-raised md-primary" style="width: 150px;">Submit</md-button></div>
        </md-input>
    </form>
</md-content>