<md-content flex class="md-padding">
    <form name="surveyForm"
          ng-submit="ctrl.submitEduDissResponse(ctrl.eduDissResp, ctrl.selectedFamily, ctrl.selectedRaceEthnicity)">
        <div>
            <h1>Education vs Dissatisfaction with learning</h1>
        </div>


        <table ng-repeat="(key, value) in ctrl.questions[0]" width="100%">
            <tr>
                <td><h3>{{value.title}}</h3></td>
            </tr>

            <tr ng-if="key =='11'">
                <td>
                    <textarea placeholder="Share some of your most exciting moments here!" type="text" cols="80"
                              rows="5" style="max-width:500px; max-height: 200px"
                              ng-model="$parent.$parent.bestResponse"
                              ng-change="ctrl.eduDissResp[value.title] = bestResponse" required></textarea>

                    <!--<md-button class="md-raised md-primary" data-id="1"-->
                    <!--ng-click="ctrl.saveEduDisResponse(ansResp , age, $event, task.$id, sib, selectedMonth, country, spokenLanguage, value.title, bestResponse)">-->

                    <!--Save-->
                    <!--</md-button>-->
                </td>
            </tr>

            <!--to generate questions-->
            <tr ng-if="key2 != 'title'" ng-repeat="(key2, value2) in value"
                ng-class="'index-' + $index + ' ' + ($odd ? 'odd' : 'even')" style="height:50px">
                <td style="width:800px">
                    {{value2}}
                </td>

                <td>
                    <!--to generate radio button-->
                    <md-radio-group ng-if="key != '6'" layout="row" ng-model="$parent.ansResp"
                                    ng-change="ctrl.eduDissResp[value.title][key2] = ansResp" required>
                        <div ng-repeat="ratingOption in ctrl.ratingOptions">
                            <md-radio-button style="margin-right:60px" class="md-primary" ng-value="ratingOption.id">
                                {{ratingOption.id}}
                            </md-radio-button>
                        </div>
                    </md-radio-group>
                    <div ng-if="key == '6'">
                        <div ng-if="key2 == '1'">
                            <input placeholder="State a valid age" ng-model="$parent.$parent.age" type="number" min="3"
                                   style="width: 30%" ng-change="ctrl.eduDissResp[value.title][key2] = age" required /> years old
                        </div>
                        <div ng-if="key2 == '2'">
                            <table width="100%">
                                <tr>
                                    <td ng-repeat="family in ctrl.familyMembers track by $index">
                                        <md-checkbox value="{{family.name}}"
                                                     ng-click="ctrl.toggle(family, ctrl.selectedFamily)"
                                                     ng-checked="ctrl.exists(family, ctrl.selectedFamily)" required>
                                            {{family.name}}
                                        </md-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="key2 == '3'">
                            <input placeholder="Number of siblings" ng-model="$parent.$parent.sib" type="number" min="0"
                                   style="width: 30%" ng-change="ctrl.eduDissResp[value.title][key2] = sib" required/>
                        </div>
                        <div ng-if="key2 == '4'">
                            <md-input-container flex>
                                <label>Month</label>
                                <md-select ng-model="$parent.$parent.selectedMonth"
                                           ng-change="ctrl.eduDissResp[value.title][key2] = selectedMonth" required>
                                    <md-option ng-repeat="bday in ctrl.bdayMonth" ng-value="bday.month">
                                        {{bday.month}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-if="key2 == '5'">
                            <table width="100%">
                                <tr>
                                    <td ng-if="ethnic.firstRow" ng-repeat="ethnic in ctrl.ethnicity track by $index">
                                        <md-checkbox ng-click="ctrl.toggle(ethnic, ctrl.selectedRaceEthnicity)"
                                                     ng-checked="ctrl.exists(ethnic, ctrl.selectedRaceEthnicity)"
                                                     value="{{ethnic.firstRow}}">
                                            {{ethnic.firstRow}}
                                        </md-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-if="ethnic.secondRow" ng-repeat="ethnic in ctrl.ethnicity track by $index">
                                        <md-checkbox ng-click="ctrl.toggle(ethnic, ctrl.selectedRaceEthnicity)"
                                                     ng-checked="ctrl.exists(ethnic, ctrl.selectedRaceEthnicity)"
                                                     value="{{ethnic.secondRow}}">
                                            {{ethnic.secondRow}}
                                        </md-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-if="key2 == '6'">
                            <input type="text" placeholder="State a valid country" ng-model="$parent.$parent.country"
                                   ng-change="ctrl.eduDissResp[value.title][key2] = country" required/>

                        </div>
                        <div ng-if="key2 == '7'">
                            <input type="text" placeholder="State a valid language"
                                   ng-model="$parent.$parent.spokenLanguage"
                                   ng-change="ctrl.eduDissResp[value.title][key2] = spokenLanguage" required />
                            for multiple languages, separate by a comma (,)
                        </div>

                    </div>
                </td>

                <!--<td align="center">-->
                <!--<md-button ng-if="(key =='6' && key2 != '2') && (key == '6' && key2 != '5')" class="md-raised md-primary" data-id="{{key2}}"-->
                <!--ng-click="ctrl.saveEduDisResponse(ansResp , age, $event, task.$id, sib, selectedMonth, country, spokenLanguage, value.title)">-->
                <!--Save-->
                <!--</md-button>-->

                <!--<md-button ng-if="key !='6'" class="md-raised md-primary" data-id="{{key2}}"-->
                <!--ng-click="ctrl.saveEduDisResponse(ansResp , age, $event, task.$id, sib, selectedMonth, country, spokenLanguage, value.title)">-->
                <!--Save-->
                <!--</md-button>-->

                <!--<md-button ng-if="(key == '6' && key2 == '2')" class="md-raised md-primary" data-id="{{key2}}"-->
                <!--ng-click="ctrl.saveEduDisMultiResponse(ctrl.selectedFamily, $event, task.$id, value.title)">-->
                <!--Save-->
                <!--</md-button>-->

                <!--<md-button ng-if="(key=='6' && key2 == '5')" class="md-raised md-primary" data-id="{{key2}}"-->
                <!--ng-click="ctrl.saveEduDisMultiResponse(ctrl.selectedRaceEthnicity, $event, task.$id, value.title)">-->
                <!--Save-->
                <!--</md-button>-->


                <!--</td>-->
            </tr>

            <md-divider></md-divider>

        </table>

        <br>
        <div align="center">
            <md-button ng-disabled="surveyForm.$invalid || ctrl.selectedRaceEthnicity.length == 0 || ctrl.selectedFamily.length == 0" type="submit" class="md-raised md-primary"
                       style="width: 150px;">Submit
            </md-button>
            <md-button ng-click="ctrl.backToChallenge()" class="md-accent" style="width: 150px;">
                Discard
            </md-button>
        </div>

    </form>
</md-content>
