<md-content flex class="md-padding">
    <form name="surveyForm" ng-submit="ctrl.submitMotiStratResponse(ctrl.motiResp)">

        <div>
            <h1>Motivated Strategies for Learning</h1>
        </div>
        <div>
            <h3>Please respond to the questions below using the following scale:</h3>
        </div>
        <div><b>1= not at all true of me</b></div>
        <div><b>7=very true of me</b></div>
        <br>
        <hr style="background: #808080; border: 0; height: 3px"/>
        <br>
        <md-input container flex>

            <table ng-repeat="question in ctrl.questionsArr" width="100%">
                <tr ng-class="'index-' + $index + ' ' + ($odd ? 'odd' : 'even')" style="height: 50px">
                    <!--<div  style="height: 80px">-->
                    <td style="width:50px">
                        {{question.qnid}}.
                    </td>
                    <td style="width:700px">
                        {{question.name}}
                    </td>
                    <!--ng-change="ctrl.motiResp.push(ans)"-->
                    <td align="right">
                        <md-radio-group layout="row" ng-model="ans" ng-change="ctrl.motiResp[question.qnid] = ans" required>
                            <div ng-repeat="ratingOption in ctrl.ratingOptions">
                                <md-radio-button style="margin-right:60px" class="md-primary"
                                                 ng-value="ratingOption.id">
                                    {{ratingOption.id}}
                                </md-radio-button>
                            </div>
                        </md-radio-group>
                    </td>
                </tr>
            </table>
            <!--<clm-pager options="ctrl.pagerOpts" class="md-padding"></clm-pager>-->
            <!--<pagination-->
            <!--ng-model="currentPage"-->
            <!--total-items="questions.length"-->
            <!--max-size="maxSize"-->
            <!--boundary-links="true">-->
            <!--</pagination>-->

        </md-input>

        <div align="center">
            <md-button type="submit" ng-disabled="surveyForm.$invalid" class="md-primary md-raised" style="width: 150px;">Submit</md-button>
            <md-button ng-click="ctrl.backToChallenge()" class="md-accent" style="width: 150px;">
                Discard
            </md-button>
        </div>
    </form>

</md-content>
