<md-dialog aria-label="{{ctrl.task.title}}" class="enlarged-dialog">
    <form name="provideResponseForm" ng-submit="ctrl.save(ctrl.solution)">
        <md-dialog-content class="sticky-container">
            <md-subheader class="md-sticky-no-effect">{{ctrl.task.title}}</md-subheader>
            <div>
                <p>{{ctrl.task.description}}</p>
                <md-input-container class="md-block" ng-show="!ctrl.viewOnly">
                    <label for="edit-solution-response">{{ctrl.task.textResponse}}</label>
                    <textarea name="solution" id="edit-solution-response"
                              ng-model="ctrl.solution"
                              required md-select-on-focus>
                    </textarea>
                    <div ng-messages="provideResponseForm.linkSolution.$error">
                        <div ng-message="required">Required.</div>
                    </div>
                </md-input-container>
            </div>
            <div ng-show="ctrl.viewOnly">
                <md-divider></md-divider>
                <!--<md-input-container class="md-block">-->
                    <!--<label for="view-solution-response">{{ctrl.task.textResponse}}</label><br><br>-->
                    <!--<textarea name="linkSolution" id="view-solution-response"-->
                              <!--ng-model="ctrl.solution"-->
                              <!--required rows="3" readonly>-->
                    <!--</textarea>-->
                <!--</md-input-container>-->
                <div style="white-space: pre-wrap;">{{ctrl.solution}}</div>
                <md-divider></md-divider>
            </div>
            <div class="md-dialog-actions" align="center">
                <md-button type="submit" class="md-primary md-raised" ng-hide="ctrl.viewOnly" ng-disabled="!provideResponseForm.$valid">
                    Save
                </md-button>
                <md-button ng-click="ctrl.cancel()" type="button" class="md-accent">Cancel</md-button>
            </div>
        </md-dialog-content>

    </form>
</md-dialog>
