<div ng-if="ctrl.loading" layout="row" layout-align="space-around" class="md-padding">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-if="!ctrl.loading">
    <md-content class="md-padding">
        <button ng-show="ctrl.event.owner.publicId==ctrl.profile.$id" type="submit" ng-click="ctrl.updateAllParticipantUserProfiles()">Update All User Achievements</button>
        <table class="events ranking">
            <thead>
                <tr ng-class="{'reversed': ctrl.orderOpts[0].reversed, secondaryReversed: ctrl.orderOpts[1].reversed}">
                    <th></th>
                    <th ng-class="{orderer: ctrl.orderOpts[0].key == '$user.displayName', secondaryOrderer: ctrl.orderOpts[1].key == '$user.displayName'}">
                        <md-button ng-click="ctrl.orderBy('$user.displayName')">Participants</md-button>
                    </th>
                    <th ng-class="{orderer: ctrl.orderOpts[0].key == '$user.school.name', secondaryOrderer: ctrl.orderOpts[1].key == '$user.school.name'}" ng-if="ctrl.event.schoolEvent">
                        <md-button ng-click="ctrl.orderBy('$user.school.name')">School</md-button>
                    </th>
                    <th ng-class="{orderer: ctrl.orderOpts[0].key == '$rankInSchool', secondaryOrderer: ctrl.orderOpts[1].key == '$rankInSchool'}" ng-if="ctrl.event.schoolEvent">
                        <md-button ng-click="ctrl.orderBy('$rankInSchool')">Rank in School</md-button>
                    </th>
                    <th ng-class="{orderer: ctrl.orderOpts[0].key == '$total', secondaryOrderer: ctrl.orderOpts[1].key == '$total'}">
                        <md-button ng-click="ctrl.orderBy('$total')">Total</md-button>
                    </th>
                    <!-- add from rankedServices list -->
                    <th ng-repeat="service in ctrl.rankedServices" ng-class="{orderer: ctrl.orderOpts[0].key == service.id, secondaryOrderer: ctrl.orderOpts[1].key == service.id}">
                        <md-button ng-click="ctrl.orderBy(service.id)">{{service.name}}</md-button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="5" ng-if="(ctrl.rankingView|spfEmpty)">
                        No participants
                    </th>
                </tr>

                <tr ng-repeat="participant in ctrl.rankingView" ng-class="'index-' + $index + ' ' + ($odd ? 'odd' : 'even')">
                    <th>
                        {{$index+1}}
                    </th>
                    <th>
                        <!-- spfToArray adds the $$hashKey property to every element in the object -->
                        <md-button class="name-button"
                            ng-href="#{{ 'profile' | urlFor:{'publicId': participant.$id} }}"
                            ng-attr-aria-label="profile of {{participant.$user.displayName}}"
                        >
                            <span ng-if="participant.$id != ctrl.profile.$id">{{ participant.$user.displayName }}</span>
                            <span ng-if="participant.$id == ctrl.profile.$id">Yourself</span>
                        </md-button>
                    </th>
                    <td ng-if="ctrl.event.schoolEvent">{{ participant.$user.school.name }}</td>
                    <td ng-if="ctrl.event.schoolEvent">{{ participant.$rankInSchool || 'N/A'}}</td>
                    <td>{{ participant.$total }}</td>

                    <td ng-repeat="service in ctrl.rankedServices">{{ participant[service.id] }}</td>
                </tr>

            </tbody>
        </table>
    </md-content>

</div>
