<md-dialog aria-label="{{ctrl.task.title}}" ng-class="{false:'enlarged-dialog', true:'link-dialog'}[!ctrl.review]">
    <form name="provideLinkForm" ng-submit="ctrl.save(ctrl.solution)">
        <md-dialog-content class="sticky-container">
            <md-subheader class="md-sticky-no-effect">{{ctrl.task.title}}</md-subheader>
            <div ng-if="!ctrl.review">
                <p>{{ctrl.task.description}}</p>
                <md-input-container class="md-block" flex>
                    <label for="edit-solution-link">Solution Link</label>
                    <input type="text" name="linkSolution" id="edit-solution-link"
                        ng-model="ctrl.solution"
                        required
                        cm-contains="ctrl.task.linkPattern"
                        placeholder="URL to provide"
                    >
                    <div ng-messages="provideLinkForm.linkSolution.$error">
                        <div ng-message="required">Required.</div>
                        <div ng-message="cmContains">Invalid pattern. Submit link that starts with <b>{{ctrl.task.linkPattern}}</b></div>
                    </div>
                </md-input-container>
            </div>
            <div ng-if="ctrl.review" layout-align="center">
                Submitted Link by {{ctrl.participant.user.displayName}}: <br>
                <a href={{ctrl.solution}} target="_blank">{{ctrl.solution}}</a>
                <div class="box" flex>
                <iframe ng-src="{{ctrl.solution}}" target="_parent" width = "800px" height = "700px"></iframe>
                </div>
            </div>
            <div class="md-dialog-actions" align="center">
                <md-button type="submit" class="md-primary md-raised" ng-if="!ctrl.review" ng-disabled="!provideLinkForm.$valid">
                    Save
                </md-button>
                <md-button ng-click="ctrl.cancel()" type="button" class="md-accent">Cancel</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>