<md-content flex class="md-padding">
    <form name="editTask" ng-submit="ctrl.saveTask(ctrl.event, ctrl.taskId, ctrl.task, ctrl.taskType, ctrl.isOpen, editTask)">
        <div>
            <div layout="row">
                <md-input-container flex>
                    <label for="edit-task-name">Name</label>
                    <input type="text" name="editTaskTitle" id="edit-task-name"

                        ng-model="ctrl.task.title"
                        required="required" ng-minLength="3" md-maxLength="30"
                        placeholder="Challenge name"

                    />

                    <div ng-messages="editTask.editTaskTitle.$error">
                        <div ng-message="required">A challenge needs a name.</div>
                        <div ng-message="minlength">The name is too short.</div>
                        <div ng-message="md-maxlength">The name is too long.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="edit-task-priority">Priority</label>
                    <input type="number" name="editTaskPriority" id="edit-task-priority"

                        ng-model="ctrl.task.priority"
                        min="0" step="1"
                        placeholer="Challenge priority"

                    />
                    <div ng-messages="editTask.editTaskPriority.$error">
                        <div ng-message="number">The priority should be a positive number.</div>
                    </div>
                </md-input-container>
            </div>
        </div>

        <div>
            <md-input-container class="md-block" flex>
                <label for="edit-task-desc">Description</label>
                <textarea name="editTaskDesc" id="edit-task-desc"
                    ng-model="ctrl.task.description"
                    required="required" ng-minLength="3" md-maxLength="200"
                    placeholder="Challenge description"
                >{{ctrl.task.description}}</textarea>


                <div ng-messages="editTask.editTaskDesc.$error">
                    <div ng-message="required">A challenge needs a description.</div>
                    <div ng-message="minlength">The description is too short.</div>
                    <div ng-message="md-maxlength">The description is too long.</div>
                </div>
            </md-input-container>
        </div>

        <div>
            <md-input-container>
                <label for="edit-task-link">Help Link</label>
                <input type="text" name="editTaskLink" id="edit-task-link"

                    ng-model="ctrl.task.link"
                    pattern="^(https?://.+|#/).+$"
                    placeholder="URL to a challenge help page"

                />
                <div ng-messages="editTask.editTaskLink.$error">
                    <div ng-message="pattern">Wrong format for an absolute or relative URL.</div>
                </div>
            </md-input-container>
        </div>
            <!--<md-switch class="md-primary" ng-model="ctrl.enableBeta" aria-label="closed?">-->
                <!--*Enable BETA functions (WARNING: MAY BREAK STUFF)-->
            <!--</md-switch>-->
        <div>
            <h3>options</h3>
            <p>
                <md-switch class="md-primary" ng-model="ctrl.isOpen" aria-label="closed?">
                    Open
                </md-switch>
            </p>
            <p>
                <md-switch class="md-primary" ng-model="ctrl.task.hidden" aria-label="hidden?">
                    Hide
                </md-switch>
            </p>

            <p>
                <md-switch class="md-primary" ng-model="ctrl.task.archived" aria-label="Archived?">
                    Archived
                </md-switch>
            </p>

            <p>
                <md-switch class="md-primary" ng-model="ctrl.task.showProgress" aria-label="show progress?">
                    Show all participant progress.
                </md-switch>
            </p>

            <p>
                <md-switch class="md-primary" ng-model="ctrl.task.showLinks" aria-label="closed?">
                    Show all participant solutions.
                </md-switch>
            </p>

        </div>

        <div>
            <h3>Task type <small ng-if="!ctrl.taskType">(Required)</small></h3>
            <md-radio-group ng-model="ctrl.taskType">
                <table>
                    <tr>
                        <td style=' padding-bottom:80px;'>
                            <md-radio-button value="service" class="md-primary">Service / Badge / Problem</md-radio-button>
                            <md-radio-button value="linkPattern" class="md-primary">Link pattern</md-radio-button>
                            <md-radio-button value="textResponse" class="md-primary">Text Response</md-radio-button>
                            <md-radio-button ng-disabled="!ctrl.enableBeta" value="multipleChoice" class="md-primary">Multiple Choice*</md-radio-button>
                            <md-radio-button value="code" class="md-primary">Code</md-radio-button>
                        </td>
                        <td style='padding-left:30px; padding-bottom:120px;'>
                            <md-radio-button value="profileEdit" class="md-primary">Profile Update</md-radio-button>
                            <md-radio-button ng-disabled="!ctrl.enableBeta" value="journalling" class="md-primary">Journalling*</md-radio-button>
                            <md-radio-button ng-disabled="!ctrl.enableBeta" value="survey" class="md-primary">Survey*</md-radio-button>
                            <md-radio-button ng-disabled="!ctrl.enableBeta" value="teamActivity" class="md-primary">Team Activity*</md-radio-button>
                        </td>
                    </tr>
                </table>
            </md-radio-group>
        </div>
        <div layout="row" ng-if="ctrl.taskType == 'service'">
            <md-input-container flex layout="column">
                <md-select flex name="editTaskServiceId"
                           ng-model="ctrl.task.serviceId" required placeholder="Select a Service">
                    <md-option ng-value="opt" ng-repeat="opt in ['codeSchool', 'codeCombat', 'treeHouse', 'singPath']">
                        {{opt}}
                    </md-option>
                </md-select>
                <div ng-messages="editTask.editTaskServiceId.$error">
                    <div ng-message="required">A challenge needs a service id.</div>
                </div>
            </md-input-container>
            <md-input-container flex layout="column" ng-if="ctrl.task.serviceId &amp;&amp; ctrl.task.serviceId != 'singPath'">
                <md-select flex name="editTaskBadge"
                           ng-model="ctrl.task.badge"
                           placeholder="Select a badge (optional)"
                >
                    <md-option ng-value="badge" ng-repeat="badge in ctrl.badges[ctrl.task.serviceId]">
                        {{badge.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout="row" ng-if="ctrl.task.serviceId == 'singPath'">
            <md-input-container flex layout="column">
                <md-select flex name="editTaskSingPathPath"
                           ng-model="ctrl.task.singPathProblem.path"
                           placeholder="Select a Path (optional)"
                >
                    <md-option ng-value="opt" ng-repeat="opt in ctrl.singPath.paths">
                        {{opt.title}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex layout="column" ng-if="ctrl.task.singPathProblem.path">
                <md-select flex name="editTaskSingPathLevel"
                           ng-model="ctrl.task.singPathProblem.level"
                           required
                           md-on-open="ctrl.loadLevels(ctrl.task.singPathProblem)"
                           placeholder="Select a Level"
                >
                    <md-option ng-value="opt" ng-repeat="opt in ctrl.singPath.levels">
                        {{opt.title}}
                    </md-option>
                </md-select>
                <div ng-messages="editTask.editTaskSingPathLevel.$error">
                    <div ng-message="required">A challenge needs a service id.</div>
                </div>
            </md-input-container>
            <md-input-container flex layout="column" ng-if="ctrl.task.singPathProblem.level">
                <md-select flex name="editTaskSingPathProblem"
                           ng-model="ctrl.task.singPathProblem.problem"
                           required
                           md-on-open="ctrl.loadProblems(ctrl.task.singPathProblem)"
                           placeholder="Select a Problem"
                >
                    <md-option ng-value="opt" ng-repeat="opt in ctrl.singPath.problems">
                        {{opt.title}}
                    </md-option>
                </md-select>
                <div ng-messages="editTask.editTaskSingPathProblem.$error">
                    <div ng-message="required">A challenge needs a service id.</div>
                </div>
            </md-input-container>
        </div>

        <div ng-if="ctrl.taskType == 'linkPattern'">
            <md-input-container>
                <label for="edit-link-pattern">Link pattern</label>
                <input type="text" name="editTaskLink" id="edit-link-pattern"

                    ng-model="ctrl.task.linkPattern"
                    required="true"
                    placeholer="Pattern"

                />

                <div ng-messages="editTask.editTaskLink.$error">
                    <div ng-message="required">Required.</div>
                </div>
            </md-input-container>
        </div>

        <div ng-if="ctrl.taskType == 'textResponse'">
            <md-input-container>

                <label for="edit-text-response">Question</label>
                <textarea name="editTextResponse" id="edit-text-response"
                    ng-model="ctrl.task.textResponse"
                    required
                    placeholder="Question"
                    rows="2" md-select-on-focus
                ></textarea>

                <div ng-messages="editTask.editTextResponse.$error">
                    <div ng-message="required">Required.</div>
                </div>
            </md-input-container>
        </div>

        <div ng-if="ctrl.taskType == 'indexCard'">
            <md-input-container flex>
                <label for="edit-max-cards">Maximum cards allowed</label>
                <input type="number" name="editMaxCards" id="edit-max-cards"
                       ng-model="ctrl.task.cards"
                       min="0" step="1"
                       placeholer="index Cards"
                />
                <div ng-messages="editTask.editTaskPriority.$error">
                    <div ng-message="number">The max cards allowed should be a positive number.</div>
                </div>
            </md-input-container>
        </div>


        <div ng-if="ctrl.taskType == 'code'">
            <md-input-container>
                <label for="edit-text-response">Question</label>
                <textarea name="editCodeQuestion" id="edit-code-question"
                       ng-model="ctrl.task.textResponse"
                       required
                       placeholder="Question"
                       rows="2" md-select-on-focus
                ></textarea>

                <div ng-messages="editTask.editCodeQuestion.$error">
                    <div ng-message="required">Required.</div>
                </div>
            </md-input-container>
            <md-input-container flex layout="column">
                <md-select flex name="editCodeLang"
                           ng-model="ctrl.task.lang" required placeholder="Select a Language">
                    <md-option ng-value="opt" ng-repeat="opt in ['Java', 'Javascript', 'HTML', 'Python']">
                        {{opt}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div ng-if="ctrl.taskType == 'journalling'">
            <md-input-container>
                Journalling
            </md-input-container>
        </div>

        <div ng-if="ctrl.taskType == 'profileEdit'">
            Select fields for participants to edit:
            <md-list  ng-repeat="metaData in ['Year of Birth', 'School']">
                <md-checkbox ng-checked="ctrl.exists(metaData, ctrl.selectedMetaData)" ng-click="ctrl.toggle(metaData, ctrl.selectedMetaData)">
                    {{metaData}}</br>
                </md-checkbox>
            </md-list>
        </div>

        <div layout="row" layout-align="center center">
            <!--TODO: 1. Create continue button controller to route to other views depending on challenge type-->

            <md-button type="submit" class="md-raised md-primary" ng-disabled="editTask.$invalid || !ctrl.taskType ||ctrl.savingTask">{{ ctrl.challengeRouteProvider(ctrl.taskType, ctrl.task, ctrl.isOpen)}}</md-button>
            <md-button type="button" class="md-accent" ng-click="ctrl.discardChanges($event)">Back</md-button>

        </div>
    </form>
</md-content>

